version: 2
jobs:
  test:
    docker:
      - image: circleci/node:9.2
    steps:
      - checkout
      - run: yarn install
      - run: yarn bootstrap
      - run: yarn run flow
      - run: yarn run test
      - run: yarn run build

  deploy:
    docker:
      - image: circleci/node:9.2
    steps:
      - checkout
      - run: yarn install
      - run: yarn bootstrap
      - run: yarn run build
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: yarn run lerna -- publish --skip-git --repo-version=$(git describe --tag) --yes --force-publish=*
      - run: git add -A
      - run: git commit -a -m "Bump to version $(git describe --tag)"
      - run: git remote rm origin
      - run: git remote add origin https://arekkas:$GITHUB_TOKEN@github.com/ory/hydra-consent-app-auth0.git
      - run: git push origin

workflows:
  version: 2
  "test and deploy":
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - test
