extends layout

block content
  .row.justify-content-center.align-items-center(style="height: 100%")
    .col-sm-6
      .card
        .card-body
          h4.card-title Logged out
          p.card-text You logged out successfully.